<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-9 col-lg-9 col-md-7">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-4 d-none d-lg-block justify-content-center">
                            <img src="assets/img/login/itsj-g.png" class="img-circle " style="width: 100%;
                                padding-left: 24%;
                                padding-top: 38%;
                            ">
                        </div>
                        <div class="col-lg-8">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Register</h1>
                                </div>
                                <form class="user" [formGroup]="this.dataForm" (ngSubmit)="onSubmit()">
                                    <div class="col alert alert-danger" role="alert" *ngIf="this.dataForm.get('userName')?.errors?.required && this.dataForm.get('userName')?.touched">
                                        *Username is required!!!
                                    </div>
                                    <div class="col alert alert-danger" role="alert" *ngIf="this.dataForm.get('userName')?.errors?.userExists; else otherErrorCheck">
                                        *That username already exists!!!
                                    </div>
                                    <div class=" form-group ">
                                        <input type="text " class="form-control form-control-user " formControlName="userName" id="userName" placeholder="Username ">
                                    </div>

                                    <div class="col alert alert-danger " role="alert " *ngIf="this.dataForm.get( 'firstname')?.errors?.required && this.dataForm.get( 'firstname')?.touched ">
                                        *Firstname is required!!!
                                    </div>
                                    <div class="form-group ">
                                        <input type="text " class="form-control form-control-user " formControlName="firstname" id="firstname" placeholder="Firstname ">
                                    </div>

                                    <div class="col alert alert-danger " role="alert " *ngIf="this.dataForm.get( 'lastname')?.errors?.required && this.dataForm.get( 'lastname')?.touched ">
                                        *Lastname is required!!!
                                    </div>
                                    <div class="form-group ">
                                        <input type="text " class="form-control form-control-user " formControlName="lastname" id="lastname" placeholder="Lastname ">
                                    </div>

                                    <div class="col alert alert-danger " role="alert " *ngIf="this.dataForm.get('email')?.errors?.required && this.dataForm.get( 'email')?.touched ">
                                        *Email is required!!!
                                    </div>
                                    <div class="col alert alert-danger " role="alert " *ngIf="this.dataForm.get('email')?.errors?.pattern && this.dataForm.get( 'email')?.touched ">
                                        *Email format is wrong!!!
                                    </div>
                                    <div class="col alert alert-danger " role="alert " *ngIf="this.dataForm.get('email')?.errors?.emailExists; else otherErrorCheck ">
                                        *That email already exists!!!
                                    </div>
                                    <div class="form-group ">
                                        <input type="text " class="form-control form-control-user " formControlName="email" id="email" placeholder="Email ">
                                    </div>

                                    <div class="form-group row ">
                                        <div class="col-sm-6 mb-3 mb-sm-0 ">
                                            <div class="col alert alert-danger " role="alert " *ngIf="this.dataForm.get('password')?.errors?.required && this.dataForm.get( 'password')?.touched ">
                                                *Password is required!!!
                                            </div>
                                            <input type="password" class="form-control form-control-user " formControlName="password" id="password " placeholder="Password ">
                                        </div>
                                        <div class="col-sm-6 ">
                                            <div class="col alert alert-danger " role="alert " *ngIf="this.dataForm.get('pwdd')?.errors?.required && this.dataForm.get( 'pwdd')?.touched ">
                                                *Repeat pass is required!!!
                                            </div>
                                            <div class="col alert alert-danger " role="alert " *ngIf="this.dataForm.get('pwdd')?.errors?.MustMatch ">
                                                *Password does not match!
                                            </div>
                                            <input type="password" class="form-control form-control-user " formControlName="pwdd" id="pwdd" placeholder="Repeat Password ">
                                        </div>
                                    </div>
                                    <button class="btn btn-primary btn-user btn-block " [disabled]="this.dataForm.invalid">Register Account</button>
                                </form>
                                <hr>
                                <div class="text-center ">
                                    <a class="small " href=" ">Already have an account? Login!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>